body {
	position: relative;
}

#topbar{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 87px;
	background: url(../img/sprite-a.png) repeat-x;
}

#headline {
	height: 775px;
	background: url('../img/1300x780.gif') no-repeat center;
	background-size: 1366px 780px;
}


.logo {
	background: url(../img/logo1.png);
	background-size: 228px 143px;
}

h1 {
	text-align: center;
	padding-top: 50%;
	color: #ffffff;
	font-size: 62px;
}

#mid {
	background: url('../img/b.gif');
	height: 660px;
	padding-top: 89px;
	padding-bottom: 42px;
}